body {
  background-color: aquamarine;
}
#root { 
  max-width:50%;
  width: 100%;
  max-inline-size: 50%;
  height: 100%;
  background-color: azure;
  margin: 50vh auto;
  
}
#root form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vh;
}